.add-doc-files {
    background: #f5f5fd;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 6%);
    border-radius: 10px;
    padding: 14px 19px;
}
.upload-image {
    border: 0.5px dashed #a0a0bf;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 6%);
    border-radius: 10px;
    position: relative;
    background: #ffffff;
    padding: 24px 20px;
}
.drag-drop-text {
    text-align: center;
}
.upload-image p {
    overflow-wrap: break-word;
    margin-bottom: 0px;
}
.drag-drop-text a {
    font-family: "IBM-medium";
    font-size: 16px;
    line-height: 15px;
    color: #565d80;
    display: block;
    margin-bottom: 15px;
}
.upload-file {
    position: absolute;
    width: 100% !important;
    height: 100%;
    left: 0px;
    opacity: 0;
    cursor: pointer;
    top: 0;
    bottom: 0;
}
.right-add-btns {
    text-align: right;
}
.right-add-btns ul {
    justify-content: flex-end;
    align-items: center;
}
.right-add-btns ul li:not(:last-child) {
    margin-right: 18px;
}
.green-btn {
    background-color: #3a974c;
    color: #fff;
}
.small-btn {
    padding: 8px 12px;
    min-height: 33px;
    font-size: 13px;
    border-radius: 5px;
}

.image-detail-list {
    margin-top: 25px;
}
.dlt-icon {
    text-align: end;
}
.dlt-icon .delete-btn {
    display: inline-block;
    width: 100%;
    max-width: 40px;
    height: 40px;
    padding: 8px;
    background-color: #f5f5fd;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #d9d9ea;
}
.docs-inner .row {
    align-items: center;
}

.table-responsive {
    margin-bottom: 20px;
    background: #f8f8fa;
    box-shadow: 0 2px 4px #0000000d;
    border-radius: 10px;
    padding: 10px 30px 20px;
    min-height: 400px;
    margin-top: 20px;
}
.table-responsive .table {
    margin-bottom: 0;
}
.lead-table .table {
    margin-bottom: 0;
    border-collapse: separate;
    border-spacing: 0px 10px;
}
.table > thead {
    vertical-align: bottom;
}

.table th {
    padding: 18px 25px 8px;
    vertical-align: middle;
    border: 0;
    font-family: IBM-medium;
    font-size: 12px;
    color: #383d56b3;
}

.table tr:hover {
    box-shadow: 1px 17px 44px #03022912;
}

.table td {
    padding: 15px 25px;
    vertical-align: middle;
    font-family: IBM;
    font-size: 14px;
    color: #383d56;
    border: 0;
}

.table tbody tr {
    background: #ffffff;
    border-radius: 10px;
    transition: 0.5s ease;
}

.pending-docs-list {
    text-align: left;
    margin-left: 18px;
    ul {
        li {
            list-style: initial;
            line-height: normal;
        }
    }
}
.loader-container {
    position: relative;
}

// 8-08-2022

.pending-docs-list ul li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
}
.filter-box {
    flex: 0 0 25%;
    max-width: 25%;
}
.doc-file-input {
    position: relative;
    height: 100%;
}
.cstm-doc-input-title input.form-control {
    min-height: 30px;
    line-height: normal;
}
.doc-file-input span.doc-plus {
    border: 2px dashed #ddd;
    min-width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.doc-file-input input.file-input-inner {
    position: absolute;
    opacity: 0;
    z-index: 1;
    width: 200px;
    height: 100%;
    cursor: pointer;
}
.cstm-doc-input-submit-btn.filter-box {
    text-align: end;
}
.cstm-doc-input-submit-btn button.btn {
    background-color: #fa5440;
    color: #fff;
}

.pending-docs-list ul li::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #383d56;
    transform: translateY(-50%);
}
.doc-selected-filter p.download-img {
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.doc-selected-filter {
    border: 2px dashed #ddd;
    min-width: 200px;
    display: inline-block;
    align-items: center;
    position: relative;
    min-height: 36px;
    padding: 8px;
}
.close-btn-doc {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 20px;
    height: 20px;
    border: 2px solid #8989b2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.close-btn-doc:before,
.close-btn-doc:after {
    position: absolute;
    right: 7px;
    content: " ";
    height: 10px;
    width: 2px;
    background-color: #8989b2;
}
.close-btn-doc:before {
    transform: rotate(45deg);
}
.close-btn-doc:after {
    transform: rotate(-45deg);
}

.pending-docs {
    text-align: left;
    border: 1px solid #ececec;
    padding: 15px;
    display: flex;
    // flex-wrap: wrap;
    .doc {
        flex-basis: 33.33%;
    }
    li {
        list-style-type: auto;
        margin: 15px;
    }
}

.create-laed-content .nav-tabs{
    display: flex;
}
.create-laed-content .tab-pane {
    padding:0;
}
.table > :not(:first-child) {
    border-top: none !important; 
}
.footer-pagination {
    text-align: end !important;
}
.create-laed-content .nav-tabs.two-list li.nav-item {
    width: 50%;
}
.theme-btn-2 {
        min-height: 40px;
        text-align: center;
        min-width: 100px;
        padding: 11px 23px;
        font-size: 13px;
        font-family: "IBM-medium";
        background-color: #fa5440;
        color: #fff;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        border: 0;
        transition: 0.3s ease-in all;
}
.green-btn{
    min-height: 40px;
    text-align: center;
    min-width: 100px;
    padding: 11px 23px;
    font-size: 13px;
    font-family: "IBM-medium";
    background-color: #0c7603;;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border: 0;
    transition: 0.3s ease-in all;
}

.ngx-overlay > .ngx-foreground-spinner{
    color: #ff4400 !important;
}
.owner-signature{
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
}

.ngx-progress-bar { 
    color: #ff4400 !important;
}