.click{
    color: blue;
    text-decoration: underline;
}
.email{
    color: red;
    margin-bottom: 0;
}
.alert {
    position: relative;
     padding: 1rem 1rem !important;
     margin-bottom: 0rem !important;
     border: none !important;
     border-radius: none !important;
}