<main class="">
    <div class="login-page-inner">
        <div class="container" >
            <div class="row justify-content-center ">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="login-card shadow">
                        <div class="text-center ">
                            <a>
                                <img src="assets/images/logo.png" alt="logo" />
                            </a>
                        </div>
                        <div class="login-card-body">
                            <div class="form-head">
                                <h3 class="form-heading">Forgot Password</h3>
                              
                            </div>

                            <form [formGroup]="forgotPasswordForm">
                                <div class="form-group">
                                    <label for="username">Email*</label>
                                    <input formControlName="email" type="text" class="form-control" id="username" placeholder="Enter email" />
                                    <div class="invalid-input" *ngIf="f.email.errors && f.email.touched">
                                        <div *ngIf="f.email.errors.required">
                                            Email is required
                                        </div>
                                        <div *ngIf="f.email.errors.pattern">
                                            Invalid email
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button (click)="onSubmit()" type="submit" class="theme-btn btn-block">Submit</button>
                                </div>
                                <div class="form-group text-center">
                                    <a class="links" routerLink="/login">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>