<div id="lead" class="tab-pane">
    <div class="detail_tab-inner">
        <div class="sheet-btn">
            <a [ngStyle]="background" *ngIf="fcsDetailList?.view_sheet != ''" [href]="fcsDetailList?.view_sheet" target="_blank"   class="theme-btn">
                <span class="btn-icon">
                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.49881 9.74947C6.39188 9.75009 6.28588 9.7296 6.18688 9.68916C6.08789 9.64873 5.99785 9.58915 5.92193 9.51385L2.67193 6.26385C2.53882 6.10842 2.46927 5.90848 2.47717 5.70399C2.48507 5.49951 2.56984 5.30553 2.71454 5.16083C2.85924 5.01613 3.05322 4.93136 3.2577 4.92346C3.46219 4.91556 3.66213 4.98511 3.81756 5.11822L6.49881 7.79135L9.17193 5.11822C9.32737 4.98511 9.5273 4.91556 9.73179 4.92346C9.93628 4.93136 10.1303 5.01613 10.275 5.16083C10.4197 5.30553 10.5044 5.49951 10.5123 5.70399C10.5202 5.90848 10.4507 6.10842 10.3176 6.26385L7.06756 9.51385C6.91622 9.66395 6.71196 9.74858 6.49881 9.74947Z" fill="white"/>
                        <path d="M6.5 9.75C6.28451 9.75 6.07785 9.6644 5.92548 9.51202C5.7731 9.35965 5.6875 9.15299 5.6875 8.9375V0.8125C5.6875 0.597012 5.7731 0.390349 5.92548 0.237976C6.07785 0.0856026 6.28451 0 6.5 0C6.71549 0 6.92215 0.0856026 7.07452 0.237976C7.2269 0.390349 7.3125 0.597012 7.3125 0.8125V8.9375C7.3125 9.15299 7.2269 9.35965 7.07452 9.51202C6.92215 9.6644 6.71549 9.75 6.5 9.75ZM12.1875 13H0.8125C0.597012 13 0.390349 12.9144 0.237976 12.762C0.0856026 12.6097 0 12.403 0 12.1875C0 11.972 0.0856026 11.7653 0.237976 11.613C0.390349 11.4606 0.597012 11.375 0.8125 11.375H12.1875C12.403 11.375 12.6097 11.4606 12.762 11.613C12.9144 11.7653 13 11.972 13 12.1875C13 12.403 12.9144 12.6097 12.762 12.762C12.6097 12.9144 12.403 13 12.1875 13Z" fill="white"/>
                    </svg>                                                        
                   </span>
                <span class="">View FCS sheet</span>
             </a>
        </div>

        <!-- table-list -->
        <div class="detail-listing tab-table-list">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            
                        </th>
                        <th scope="col">
                            <p class="lead-title">Bank</p>
                        </th>
                        <th scope="col">
                            <p class="lead-title">Monthly</p>
                        </th>
                        <th scope="col">
                            <p class="lead-title">Adjusment</p>
                        </th>
                        <th scope="col">
                            <p class="lead-title">Monthly True Revenue</p>
                        </th>
                        <th scope="col">
                            <p class="lead-title">Average Daily</p>
                        </th>
                        <th scope="col">
                            <p class="lead-title">NSF</p>
                        </th>
                        <th scope="col">
                            <p class="lead-title">Neg Days</p>
                        </th>
                        <th scope="col">
                            <p class="lead-title"># Of Deposits</p>
                        </th>
                        <th scope="col">
                            <p class="lead-title">Ending Balance</p>
                        </th>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr *ngFor="let bank of fcsDetailList?.bank_data; let i = index;">
                        <td>
                            <!-- i === 0  -->
                            {{bank.type }}
                           <!-- {{ i%2 == 0? 'Total': 'Average'}} -->
                        </td>
                        <td>
                            {{bank.bank_title }}
                        </td>
                        <td>
                            {{bank.monthly | currency }}
                        </td>
                        <td>
                            {{getAdjustment(bank.monthly, bank.monthly_true_revenue) | currency}}
                        </td>
                        <td>
                            {{bank.monthly_true_revenue  | currency }}
                        </td>
                        <td>
                            {{bank.average_daily  | currency  }}
                        </td>
                        <td>
                            {{bank.nsf ? bank.nsf.toFixed(2): bank.nsf }}
                        </td>
                        <td>
                            {{bank.neg_days ? bank.neg_days.toFixed(2): bank.neg_days }}
                        </td>
                        <td>
                            {{bank.hash_of_deposit ? bank.hash_of_deposit.toFixed(2): bank.hash_of_deposit }}
                        </td>
                        <td>
                             {{bank.ending_balance | currency }}
                        </td>
                    </tr>
                    <tr *ngIf="!fcsDetailList?.bank_data.length">
                        <td colspan="10" class="text-center">No Records Found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <br>
        
  
        <div class="active-lenders">
            <div class="heading-title">
                <p class="lead-title">Active lenders</p>
            </div>
        <div class="detail-listing tab-table-list">
            <!-- <div class="heading-title">
                <p class="lead-title">Active lenders</p>
            </div> -->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            <p class="lead-title">Lender Name</p>
                        </th>
                        <th scope="col">
                            <p class="lead-title">Funded Date</p>
                        </th>
                        <th scope="col">
                            <p class="lead-title">Daily Payment($)</p>
                        </th>
                        <th scope="col">
                            <p class="lead-title">Balance</p>
                        </th>
                        <th scope="col">
                            <p class="lead-title">Withholding %</p>
                        </th>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr *ngFor="let lender of fcsDetailList?.lender; let i = index;">
                        <td>
                            {{lender.name }}
                        </td>
                        <td>
                            {{ getDate(lender.funded_date) }}
                        </td>
                        <td>
                            {{lender.daily_payments | currency}}
                        </td>
                        <td>
                            {{lender.balance  | currency }}
                        </td>
                        <td>{{ lender.with_hold}} %</td>
                    </tr>
                    <tr *ngIf="!fcsDetailList?.lender.length">
                        <td colspan="5" class="text-center">No Records Found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        <div class="active-lenders">
            <!-- <div class="heading-title">
                <p class="lead-title">Active lenders</p>
            </div> -->
            <div class="active-list">
                <ul>
                    <li><span>Credit score</span>
                        <p>{{fcsDetailList?.credit_score_owner}}</p>
                    </li>
                    <li><span>Credit score owner 2 (Partner)</span>
                        <p>{{fcsDetailList?.credit_score_owner_2}}</p>
                    </li>
                    <li><span>Withholding %</span>
                        <p>{{withHoldValue}}</p>
                        <!-- <p>{{fcsDetailList?.withholding_percentage.toFixed()}}</p> -->
                    </li>
                </ul>
            </div>
        </div>
        <br>


        <div class="d-flex align-items-center justify-content-between">
            <div class="lead-submit-btn">
                <!-- <a href="" class="btn">
                    <span class="">Next</span>
                    <span class="btn-icon btn-right-icon">
                    <svg width="5" height="10" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 5.26331C5 5.42963 4.93752 5.58955 4.81881 5.71748L1.06998 9.55557C0.826304 9.80504 0.426429 9.80504 0.182755 9.55557C-0.0609185 9.30609 -0.0609185 8.8967 0.182755 8.64722L3.49422 5.26331L0.182755 1.8794C-0.0609188 1.62992 -0.0609188 1.22692 0.182755 0.977449C0.426429 0.727974 0.820056 0.727974 1.06373 0.977449L4.81881 4.80914C4.94377 4.93707 5 5.09699 5 5.26331Z" fill="white"></path>
                        </svg>
                   </span>
                </a> -->
            </div>
        </div>
    </div>
</div>