<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Change Password </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal.emit()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="changePasswordForm">
        <div class="form-group">
            <label for="old">Old Password*</label>
            <input style="display:none" type="password" name="fakepassword"/>
            <input formControlName="old_password"  [type]="passwordType ? 'password': 'text'" class="form-control" id="old"
                placeholder="Enter old password" />
                <span (click)="passwordType = !passwordType" *ngIf="!passwordType"
                class="bi bi-eye-slash cursor-pointer" id="togglePassword">
                <img src="assets/images/eye-visible.svg" alt="Eye Off Icon">
            </span>
            <span (click)="passwordType = !passwordType" *ngIf="passwordType"
                class="bi bi-eye-slash eye-visible cursor-pointer" id="togglePassword">
                <img src="assets/images/eye-off.svg" alt="Eye On Icon">
            </span>
            <div class="invalid-input" *ngIf="f.old_password.errors && f.old_password.touched">
                <div *ngIf="f.old_password.errors.required">
                    Old password is required
                </div>
                <div *ngIf="f.old_password.errors.pattern">
                    Invalid password
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="new">New Password*</label>
            <input formControlName="password"  [type]="newpasswordType ? 'password': 'text'"  class="form-control" id="new"
                placeholder="Enter new password" />
                <span (click)="newpasswordType = !newpasswordType" *ngIf="!newpasswordType"
                class="bi bi-eye-slash cursor-pointer" id="togglePassword">
                <img src="assets/images/eye-visible.svg" alt="Eye Off Icon">
            </span>
            <span (click)="newpasswordType = !newpasswordType" *ngIf="newpasswordType"
                class="bi bi-eye-slash eye-visible cursor-pointer" id="togglePassword">
                <img src="assets/images/eye-off.svg" alt="Eye On Icon">
            </span>
            <div class="invalid-input" *ngIf="f.password.errors && f.password.touched">
                <div *ngIf="f.password.errors.required">
                    Password is required
                </div>
                <div *ngIf="f.password.errors.maxlength">
                    Password must be maximum 16 characters long
                </div>
                <div *ngIf="f.password.errors.pattern">
                    Password should contain atleast 8 characters, one capital letter, one number and one special
                    character
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirm">Confirm Password*</label>
            <input formControlName="password_confirmation"  [type]="confirmpasswordType ? 'password': 'text'"  class="form-control" id="confirm"
                placeholder="Enter confirm password" />
                <span (click)="confirmpasswordType = !confirmpasswordType" *ngIf="!confirmpasswordType"
                class="bi bi-eye-slash cursor-pointer" id="togglePassword">
                <img src="assets/images/eye-visible.svg" alt="Eye Off Icon">
            </span>
            <span (click)="confirmpasswordType = !confirmpasswordType" *ngIf="confirmpasswordType"
                class="bi bi-eye-slash eye-visible cursor-pointer" id="togglePassword">
                <img src="assets/images/eye-off.svg" alt="Eye On Icon">
            </span>
            <div class="invalid-input" *ngIf="f.password_confirmation.errors && f.password_confirmation.touched">
                <div *ngIf="f.password_confirmation.errors.required">
                    Confirm password is required
                </div>

            </div>
            <div class="invalid-input"
                *ngIf="changePasswordForm.hasError('notSame') && f.password.value && f.password_confirmation.touched && f.password.touched && !f.password_confirmation.errors?.required">
                Passwords mismatch
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button [ngStyle]="background" type="button" class="theme-btn" (click)="changePasswordSubmit()" >Update</button>
</div>