.login-page-inner {
    background-color: #E8E8F1;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.login-page {
    overflow: hidden;
}

.login-card {
    background-color: #fff;
    padding: 40px 50px;
}

.form-head {
    margin: 0 0 30px;
}

.form-heading {
    font-family: 'IBM-semi';
    font-size: 23px;
    color: #383D56;
}


.form-group {
    margin-bottom: 15px;
    position: relative;
}
.bi-eye-slash {
    position: absolute;
    right: 24px !important;
    top: 33px !important;
    z-index: 5;
}