<main class="">
    <div class="login-page-inner">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="login-card shadow">
                        <div class="text-center ">
                            <a>
                                <img src="assets/images/logo.png" alt="logo" />
                            </a>
                        </div>
                        <div class="login-card-body">
                            <div class="form-head">
                                <h3 class="form-heading">{{ newPassword ? 'New': 'Reset' }} Password</h3>

                            </div>

                            <form [formGroup]="resetPasswordForm">
                                <div class="form-group">
                                    <label for="username">Password*</label>
                                    <input formControlName="password" [type]="passwordType ? 'password': 'text'"
                                        class="form-control" id="username" placeholder="Enter password" />
                                    <span (click)="passwordType = !passwordType" *ngIf="!passwordType"
                                        class="bi bi-eye-slash cursor-pointer" id="togglePassword">
                                        <img src="assets/images/eye-visible.svg" alt="Eye Off Icon">
                                    </span>
                                    <span (click)="passwordType = !passwordType" *ngIf="passwordType"
                                        class="bi bi-eye-slash eye-visible cursor-pointer" id="togglePassword">
                                        <img src="assets/images/eye-off.svg" alt="Eye On Icon">
                                    </span>
                                    <div class="invalid-input" *ngIf="f.password.errors && f.password.touched">
                                        <div *ngIf="f.password.errors.required">
                                            Password is required
                                        </div>
                                        <div *ngIf="f.password.errors.pattern">
                                            Password should contain atleast 8 characters, one capital letter, one number
                                            and one special character
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="username">Confirm Password*</label>
                                    <input formControlName="password_confirmation"
                                        [type]="confirmpasswordType ? 'password': 'text'" class="form-control"
                                        id="password" placeholder="Enter confirm password" />
                                    <span (click)="confirmpasswordType = !confirmpasswordType"
                                        *ngIf="!confirmpasswordType" class="bi bi-eye-slash cursor-pointer"
                                        id="togglePassword">
                                        <img src="assets/images/eye-visible.svg" alt="Eye Off Icon">
                                    </span>
                                    <span (click)="confirmpasswordType = !confirmpasswordType"
                                        *ngIf="confirmpasswordType" class="bi bi-eye-slash eye-visible cursor-pointer"
                                        id="togglePassword">
                                        <img src="assets/images/eye-off.svg" alt="Eye On Icon">
                                    </span>
                                    <div class="invalid-input"
                                        *ngIf="f.password_confirmation.errors && f.password_confirmation.touched">
                                        <div *ngIf="f.password_confirmation.errors.required">
                                            Confirm password is required
                                        </div>

                                    </div>
                                    <div class="invalid-input"
                                        *ngIf="resetPasswordForm.hasError('notSame') && f.password.value && f.password_confirmation.touched && f.password.touched && !f.password_confirmation.errors?.required">
                                        Passwords mismatch
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button (click)="onSubmit()" type="submit" class="theme-btn btn-block">{{
                                        newPassword ? 'Set': 'Reset' }} Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>