.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.page-title {
    font-family: 'IBM-semi';
    font-size: 20px;
    color: #383D56;
    margin: 0;
}
.dashboard-wrapper {
    background-color: #E8E8F1;
    padding: 20px 0;
    min-height: calc(100vh - 125px);
}
.page-title span {
    margin-right: 10px;
}

.accordion-item {
    border-radius: 10px!important;
    overflow: hidden;
    border: 0;
    margin-bottom: 18px;
    background-color: #fff;
}
.accordion-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 18px 45px;
    background-color: #F6F6F9;
}
.accordion-head-title {
    font-family: 'IBM-medium';
    font-size: 18px;
    color: #383D56;
    margin: 0;
}
.accordion-body {
    background-color: #fff;
    padding: 30px 45px;
}
.form-group {
    margin-bottom: 15px;
    position: relative;
}
.bi-eye-slash {
    position: absolute;
    right: 24px !important;
    top: 33px !important;
    z-index: 5;
}
.accordion-body {
    min-height: 300px;
}