.form-group {
    margin-bottom: 15px;
}
.agent-name {
    font-weight: bold;
}
label.cstm-approved {
    display: inline-block;
    margin-right: 20px;
    font-weight: 700;
}
span.approved-amount {
    font-weight: 700;
}
.commision {
    margin-bottom: 20px;
}

.amount-group .form-group p {
    margin-bottom: 0;
    margin-left: 10px;
    font-weight: 700;
}
.form-check {
    margin: 10px 0px;
}
.form-group .remove {
    color: red;
}