.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.page-title {
    font-family: 'IBM-semi';
    font-size: 20px;
    color: #383D56;
    margin: 0;
}
.dashboard-wrapper {
    background-color: #E8E8F1;
    padding: 20px 0;
    min-height: calc(100vh - 125px);
}
.page-title span {
    margin-right: 10px;
}

.accordion-item {
    border-radius: 10px!important;
    overflow: hidden;
    border: 0;
    margin-bottom: 18px;
    background-color: #fff;
}
.accordion-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 18px 45px;
    background-color: #F6F6F9;
}
.accordion-head-title {
    font-family: 'IBM-medium';
    font-size: 18px;
    color: #383D56;
    margin: 0;
}
.accordion-body {
    background-color: #fff;
    padding: 30px 45px;
}
.form-group {
    margin-bottom: 15px;
}
.add-doc-files {
    background: #F5F5FD;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 6%);
    border-radius: 10px;
    padding: 14px 19px;
    margin-bottom: 20px;
}
.upload-image {
    border: 0.5px dashed #A0A0BF;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 6%);
    border-radius: 10px;
    position: relative;
    background: #FFFFFF;
    padding: 24px 20px;
}
.drag-drop-text {
    text-align: center;
}
td a img {
    margin-right: 5px;
    width: 20px;
}
.upload-file {
    position: absolute;
    width: 100% !important;
    height: 100%;
    left: 0px;
    opacity: 0;
    cursor: pointer;
    top: 0;
    bottom: 0;
}
.right-add-btns {
    text-align: right;
}
.right-add-btns ul {
    justify-content: flex-end;
    align-items: center;
}
.right-add-btns ul li:not(:last-child) {
    margin-right: 18px;
}
.green-btn {
    background-color: #3A974C;
}
.right-add-btns .btn svg {
    margin-right: 4px;
}
.small-btn {
    padding: 8px 12px;
    min-height: 33px;
    font-size: 13px;
    border-radius: 5px;
}
.upload-image p {
    margin-bottom: 0px;
}

.drag-drop-text a {
    font-family: 'IBM-medium';
    font-size: 16px;
    line-height: 15px;
    color: #565D80;
}
.docs-inner .row {
    align-items: baseline;
}
.applied-search-list {
    margin-bottom: 10px;
}

/* 6-June-22 */
.image-list li {
    width: 100%;
}
.delete-btn svg path {
    fill: #fa5440;
}
.dlt-icon .delete-btn {
    display: inline-block;
    width: 100%;
    max-width: 40px;
    height: 40px;
    padding: 8px;
    background-color: #f5f5fd;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #D9D9EA;
}
.dlt-icon {
    text-align: end;
}
.assigned-selector .form-group {
    margin-bottom: 0px;
}
.image-detail-list {
    margin-top: 25px;
}
.upload-image p {
    overflow-wrap: break-word;
}
.img-type-text {
    font-size: 14px;
    line-height: 15px;
    color: #565D80;
    font-family: 'IBM-medium';
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.loader-container {
    position: relative;
}
.theme-btn{
    margin-top: 20px !important;
}
.toggleSwitch {
    display: inline-block;
    height: 20px;
    position: relative;
    overflow: visible;
    padding: 0;
    margin-left: 0px;
    cursor: pointer;
    width: 48px;
    margin-bottom: 0px;
}
.toggleSwitch input {
    position: absolute;
    opacity: 0;
    z-index: 5;
}
.toggleSwitch > span{
    position: absolute;
    left: -50px;
    width: 100%;
    margin: 0;
    padding-right: 50px;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    height: 24px;
    vertical-align: middle;
}
.toggleSwitch    > span:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50px;
    top: -1px;
    background-color: #fff;
    border: 1px solid #D9D9EA;
    border-radius: 30px;
    transition: all 0.2s ease-out;
}
.toggleSwitch input:checked ~ span span:first-of-type {
    opacity: 0;
}
.toggleSwitch > span span:first-of-type {
    color: #ccc;
    opacity: 1;
    left: 52%;
}
.toggleSwitch > span span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 50%;
    margin-left: 50px;
    text-align: left;
    font-size: 0.9em;
    width: 100%;
    left: 15%;
    top: 0px;
    opacity: 0;
}
.toggleSwitch input:checked ~ span span:last-of-type {
    opacity: 1;
    color: #9A9ABA;
}
.toggleSwitch > span span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 50%;
    margin-left: 50px;
    text-align: left;
    font-size: 0.9em;
    width: 100%;
    left: 15%;
    top: 0px;
    opacity: 0;
}
.toggleSwitch input:checked ~ a {
    border-color: #fff;
    left: 100%;
    margin-left: -21px;
    background-color: #FA5440;
}
.toggleSwitch a {
    position: absolute;
    right: 50%;
    z-index: 4;
    display: block;
    height: 19px;
    padding: 0;
    left: 2px;
    width: 19px;
    background-color: #fff;
    border: 1px solid #CCC;
    border-radius: 100%;
    transition: all 0.2s ease-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    top: 1px;
}
label {
    font-family: "IBM-medium";
    font-size: 15px;
    line-height: 20px;
    color: #565d80;
    margin-bottom: 15px;
    display: block;
}
label.label-toggle {
    margin-bottom: 15px;
}

@media screen and (max-width:767px) {
    .accordion-body {
        padding: 25px;
    }
    .accordion-head {
        padding: 14px 25px;
    }
}

.manage-cstm-file .form-group{
    border: 1px solid #e8e8f1;
    padding: 10px 10px;
    border-radius: 5px;
}
.manage-cstm-file .form-group label.label-toggle {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}