<main class="dashboard-wrapper inner-page">
    <section class="pricing-page">
        <div class="container">
            <div class="page-header">

                <ul class="breadcrumb">
                    <li class="left-icon">
                        <span>
                            <svg width="5" height="9" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M-9.79475e-05 4.47979C-9.79402e-05 4.31342 0.0624016 4.15345 0.181152 4.02547L3.93115 0.186189C4.1749 -0.063365 4.5749 -0.063365 4.81865 0.186189C5.0624 0.435742 5.0624 0.845266 4.81865 1.09482L1.50615 4.47979L4.81865 7.86476C5.0624 8.11431 5.0624 8.51744 4.81865 8.76699C4.5749 9.01654 4.18115 9.01654 3.9374 8.76699L0.181152 4.9341C0.0561517 4.80613 -9.79548e-05 4.64616 -9.79475e-05 4.47979Z"
                                    fill="#565D80"></path>
                            </svg>
                        </span>
                    </li>
                    <li>
                        <span class="">All Leads</span>/
                    </li>
                    <li>
                        <span>Lead Details</span>/
                    </li>
                    <li>
                        <span class="active-page">Pricing</span>
                    </li>
                </ul>
            </div>


            <div class="pricing-tab-section">
                <div class="tab-section">
                    <div class="row">
                        <div class="col-12">
                            <div class="tab-inner-box">
                                <div class="tab-wrapper">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-bs-toggle="tab" href="#lead">Premium</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#officer">Prime</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#partner">Gold</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-bs-toggle="tab" href="#business">Bronze</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="lead" class="tab-pane active">
                                            <div class="detail_tab-inner">
                                                <div class="lender-type-data">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                            <div class="radio-btns">
                                                                <span class="accordion-head-title">Lender Type:</span>
                                                                <div class="radio-btns-inner">
                                                                    <ul class="d-flex">
                                                                        <li>
                                                                            <input type="radio" id="test1"
                                                                                name="radio-group" checked="">
                                                                            <label for="test1">Days</label>
                                                                        </li>
                                                                        <li>
                                                                            <input type="radio" id="test2"
                                                                                name="radio-group">
                                                                            <label for="test2">Weeks</label>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                            <div class="right-box-items">
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        <div class="box_item-inner">
                                                                            <div class="box-item-text">
                                                                                <span>Credit Score:</span>
                                                                                <p class="primary_text">544</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <div class="box_item-inner">
                                                                            <div class="box-item-text">
                                                                                <span>Business Type:</span>
                                                                                <p class="primary_text">Distibution</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="range-section-outer">
                                                    <div class="row">
                                                        <div class="col-9">
                                                            <div class="range-section">
                                                                <ul class="range-items">
                                                                    <li class="range-item">
                                                                        <div class="row">
                                                                            <div class="col-9">
                                                                                <div class="range-item-inner">
                                                                                    <form action="/action_page.php">
                                                                                        <label
                                                                                            class="form-label">Funding
                                                                                            Amount</label>
                                                                                        <div class="range-slider">
                                                                                            <div id="tooltip"
                                                                                                style="left: calc(47.5% + 0.8px);">
                                                                                                <span>$5687</span>
                                                                                            </div>
                                                                                            <input id="range"
                                                                                                type="range" step="10"
                                                                                                value="200" min="0"
                                                                                                max="800">
                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-3">
                                                                                <div class="input-feild">
                                                                                    <div class="form-group">
                                                                                        <label
                                                                                            class="form-label">Funding
                                                                                            Amount</label>
                                                                                        <input type="text"
                                                                                            value="$5687.00"
                                                                                            class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="range-item">
                                                                        <div class="row">
                                                                            <div class="col-9">
                                                                                <div class="range-item-inner">
                                                                                    <form action="/action_page.php">
                                                                                        <label
                                                                                            class="form-label">Withhold
                                                                                            Percentage</label>
                                                                                        <div class="range-slider">
                                                                                            <div id="tooltip"
                                                                                                style="left: calc(47.5% + 0.8px);">
                                                                                                <span>170</span>
                                                                                            </div>
                                                                                            <input id="range"
                                                                                                type="range" step="10"
                                                                                                value="200" min="0"
                                                                                                max="800">
                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-3">
                                                                                <div class="input-feild">
                                                                                    <div class="form-group">
                                                                                        <label
                                                                                            class="form-label">Withhold
                                                                                            Percentage</label>
                                                                                        <input type="text"
                                                                                            value="$55564121.00"
                                                                                            class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="range-item">
                                                                        <div class="row">
                                                                            <div class="col-9">
                                                                                <div class="range-item-inner">
                                                                                    <form action="/action_page.php">
                                                                                        <label
                                                                                            class="form-label">Funding
                                                                                            Amount</label>
                                                                                        <div class="range-slider">
                                                                                            <div id="tooltip"
                                                                                                style="left: calc(47.5% + 0.8px);">
                                                                                                <span>1.50</span>
                                                                                            </div>
                                                                                            <input id="range"
                                                                                                type="range" step="10"
                                                                                                value="200" min="0"
                                                                                                max="800">
                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-3">
                                                                                <div class="input-feild">
                                                                                    <div class="form-group">
                                                                                        <label class="form-label">Factor
                                                                                            Rate</label>
                                                                                        <input type="text" value="1.50 "
                                                                                            class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="range-item">
                                                                        <div class="row">
                                                                            <div class="col-9">
                                                                                <div class="range-item-inner">
                                                                                    <form action="/action_page.php">
                                                                                        <label
                                                                                            class="form-label">Funding
                                                                                            Amount</label>
                                                                                        <div class="range-slider">
                                                                                            <div id="tooltip"
                                                                                                style="left: calc(47.5% + 0.8px);">
                                                                                                <span>170</span>
                                                                                            </div>
                                                                                            <input id="range"
                                                                                                type="range" step="10"
                                                                                                value="200" min="0"
                                                                                                max="800">
                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-3">
                                                                                <div class="input-feild">
                                                                                    <div class="form-group">
                                                                                        <label class="form-label">Term
                                                                                            In Days</label>
                                                                                        <input type="text" value="170"
                                                                                            class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="range-item">
                                                                        <div class="row">
                                                                            <div class="col-9">
                                                                                <div class="range-item-inner">
                                                                                    <form action="/action_page.php">
                                                                                        <label
                                                                                            class="form-label">Funding
                                                                                            Amount</label>
                                                                                        <div class="range-slider">
                                                                                            <div id="tooltip"
                                                                                                style="left: calc(47.5% + 0.8px);">
                                                                                                <span>$11,449.50</span>
                                                                                            </div>
                                                                                            <input id="range"
                                                                                                type="range" step="10"
                                                                                                value="200" min="0"
                                                                                                max="800">
                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-3">
                                                                                <div class="input-feild">
                                                                                    <div class="form-group">
                                                                                        <label class="form-label">Daily
                                                                                            Payment</label>
                                                                                        <input type="text"
                                                                                            value=" $11,449.50"
                                                                                            class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                                <div class="inner-checkbox">
                                                                    <ul class="d-flex radio-btns-inner">
                                                                        <li>
                                                                            <input type="radio" id="radio1"
                                                                                name="radio-group" checked="">
                                                                            <label for="radio1">Single Offer</label>
                                                                        </li>
                                                                        <li>
                                                                            <input type="radio" id="radio2"
                                                                                name="radio-group">
                                                                            <label for="radio2">Multiple Offer</label>
                                                                        </li>
                                                                    </ul>
                                                                    <ul class="inline-checkboxes">
                                                                        <li>
                                                                            <div class="form-check">
                                                                                <input class="form-check-input"
                                                                                    type="checkbox" value=""
                                                                                    id="flexCheckChecked">
                                                                                <label class="form-check-label"
                                                                                    for="flexCheckChecked">Override
                                                                                    Package Validation
                                                                                </label>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="form-check">
                                                                                <input class="form-check-input"
                                                                                    type="checkbox" value=""
                                                                                    id="flexCheckChecked1">
                                                                                <label class="form-check-label"
                                                                                    for="flexCheckChecked1">Display
                                                                                    Suggested Offer
                                                                                </label>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="form-check">
                                                                                <input class="form-check-input"
                                                                                    type="checkbox" value=""
                                                                                    id="flexCheckChecked2">
                                                                                <label class="form-check-label"
                                                                                    for="flexCheckChecked2">Download/Esign
                                                                                    Contract
                                                                                </label>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-3">
                                                            <div class="validate-package-listing">
                                                                <ul>
                                                                    <li class="d-flex">
                                                                        <span class="left-text">Funding Amount:</span>
                                                                        <p class="number-text">$5,678.00</p>
                                                                    </li>
                                                                    <li class="d-flex">
                                                                        <span class="left-text">RTR:</span>
                                                                        <p class="number-text">$1946,415.00</p>
                                                                    </li>
                                                                    <li class="d-flex">
                                                                        <span class="left-text">Term In Days:</span>
                                                                        <p class="number-text">170</p>
                                                                    </li>
                                                                    <li class="d-flex">
                                                                        <span class="left-text">Factor Rate:</span>
                                                                        <p class="number-text">1.50</p>
                                                                    </li>
                                                                    <li class="d-flex">
                                                                        <span class="left-text">Daily Payment:</span>
                                                                        <p class="number-text">$11,449.50</p>
                                                                    </li>
                                                                    <li class="d-flex colored-list">
                                                                        <span class="left-text">Approve Withhold:</span>
                                                                        <p class="number-text">90</p>
                                                                    </li>
                                                                    <li class="d-flex colored-list">
                                                                        <span class="left-text">Existing Withhold</span>
                                                                        <p class="number-text">0</p>
                                                                    </li>
                                                                    <li class="d-flex colored-list">
                                                                        <span class="left-text">Total Withhold</span>
                                                                        <p class="number-text">90</p>
                                                                    </li>
                                                                </ul>
                                                                <div class="validate-btn">
                                                                    <a href="" class="theme-btn">Validate
                                                                        Package</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-10">
                                                            <div class="fields-section">
                                                                <div class="row">
                                                                    <div
                                                                        class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                                                        <div class="form-group">
                                                                            <label>Position</label>
                                                                            <select class="form-control" name="" id="">
                                                                                <option value="">Select position
                                                                                </option>
                                                                                <option>State 1
                                                                                </option>
                                                                                <option>State 2
                                                                                </option>
                                                                            </select>
                                                                            <!-- <div class="custom-select">
                                                                              <div class="selectBtn form-control" data-type="firstOption">Select  position</div>
                                                                              <div class="selectDropdown">
                                                                                  <div class="option" data-type="firstOption">State 1</div>
                                                                                  <div class="option" data-type="secondOption">State 2</div>
                                                                                  <div class="option" data-type="thirdOption">State 3</div>
                                                                              </div>
                                                                          </div> -->
                                                                        </div>
                                                                    </div>
                                                                    <div
                                                                        class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                                                        <div class="form-group">
                                                                            <label>Point</label>
                                                                            <select class="form-control" name="" id="">
                                                                                <option value="">Select point</option>
                                                                                <option>State 1
                                                                                </option>
                                                                                <option>State 2
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div
                                                                        class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                                                        <div class="form-group">
                                                                            <label>Point Limit</label>
                                                                            <select class="form-control" name="" id="">
                                                                                <option value="">Select limit</option>
                                                                                <option>State 1
                                                                                </option>
                                                                                <option>State 2
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="update-table">
                                                            <table class="table table-responsive">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Lender</th>
                                                                        <th>Funding amount</th>
                                                                        <th>Buy rate</th>
                                                                        <th>Sell rate</th>
                                                                        <th>Terms</th>
                                                                        <th>RTR</th>
                                                                        <th>Payment</th>
                                                                        <th>Position</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="inner-text">
                                                                            <span class="update-text">Velicity group
                                                                                USA</span>
                                                                        </td>
                                                                        <td class="inner-text">
                                                                            <span class="update-text">$50,000.00</span>
                                                                        </td>
                                                                        <td class="inner-text">
                                                                            <span class="update-text">1.3</span>
                                                                        </td>
                                                                        <td class="inner-text">
                                                                            <span class="update-text"> 1.35</span>
                                                                        </td>
                                                                        <td class="inner-text">
                                                                            <span class="update-text">26</span>
                                                                        </td>
                                                                        <td class="inner-text">
                                                                            <span class="update-text"> $67,500.00</span>
                                                                        </td>
                                                                        <td class="inner-text">
                                                                            <span class="update-text">$2,596.15</span>
                                                                        </td>
                                                                        <td class="inner-text">
                                                                            <span class="update-text">Velicity group
                                                                                USA</span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="lead-submit-btn">
                                                <a href="" class="theme-btn">
                                                    <span class="">Submit</span>
                                                    <span class="btn-icon btn-right-icon">
                                                        <svg width="5" height="10" viewBox="0 0 5 10" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M5 5.26331C5 5.42963 4.93752 5.58955 4.81881 5.71748L1.06998 9.55557C0.826304 9.80504 0.426429 9.80504 0.182755 9.55557C-0.0609185 9.30609 -0.0609185 8.8967 0.182755 8.64722L3.49422 5.26331L0.182755 1.8794C-0.0609188 1.62992 -0.0609188 1.22692 0.182755 0.977449C0.426429 0.727974 0.820056 0.727974 1.06373 0.977449L4.81881 4.80914C4.94377 4.93707 5 5.09699 5 5.26331Z"
                                                                fill="white"></path>
                                                        </svg>
                                                    </span>
                                                </a>
                                                <a href="" class="theme-btn white-btn">
                                                    <span class="">Close</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="officer" class="tab-pane fade">
                                            <div class="detail_tab-inner">
                                            </div>
                                        </div>
                                        <div id="partner" class="tab-pane fade">
                                            <div class="detail_tab-inner">
                                            </div>
                                        </div>
                                        <div id="business" class="tab-pane fade">
                                            <div class="detail_tab-inner">
                                            </div>
                                        </div>
                                        <div id="bank" class="tab-pane fade">
                                            <div class="detail_tab-inner">
                                            </div>
                                        </div>
                                        <div id="other" class="tab-pane fade">
                                            <div class="detail_tab-inner">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </section>
</main>