<main class="">
    <div class="login-page-inner">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="login-card shadow">
                        
                        <div class="access-denied-page">
                          <div class="header-content">
                            <!-- <h1>Thanks</h1> -->
                          </div>
                          <div class="denied-text">
                              <span class="normal-text">{{ thanksMessage }}</span>
                              
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>