.form-group.cstm-form-funded {
    text-align: right;
}
.name{
    color: blue;
}
//custom dateColorPicker
.custom-day.range, .custom-day:hover {
    background-color: var(--custom,'#FA5440') !important;
}