<main class="dashboard-wrapper">
    <div class="container">
        <div class="craete-lead-wrapper">
            <div class="page-header">
                <ul class="breadcrumb">
                    <li class="left-icon">
                        <span>
                            <svg width="5" height="9" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M-9.79475e-05 4.47979C-9.79402e-05 4.31342 0.0624016 4.15345 0.181152 4.02547L3.93115 0.186189C4.1749 -0.063365 4.5749 -0.063365 4.81865 0.186189C5.0624 0.435742 5.0624 0.845266 4.81865 1.09482L1.50615 4.47979L4.81865 7.86476C5.0624 8.11431 5.0624 8.51744 4.81865 8.76699C4.5749 9.01654 4.18115 9.01654 3.9374 8.76699L0.181152 4.9341C0.0561517 4.80613 -9.79548e-05 4.64616 -9.79475e-05 4.47979Z"
                                    fill="#565D80"></path>
                            </svg>
                        </span>
                    </li>
                    <li>
                        <span class="cursor-pointer" routerLink="../roles">Roles</span>/
                    </li>
                    <li>
                        <span class="active-page">Permissions Group Description</span>
                    </li>
                </ul>
            </div>
            <div class="create-lead-content">
                <div class="updated-role-feilds">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="updated-title">
                                <span class="accordion-head-title">Permissions Group Description</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="full-view" [formGroup]="form">
                    <div class="accordion" id="accordion">
                        <div class="row">
                            <div class="col-6" *ngFor="let permission of reportDescription | keyvalue">
                                <div class="accordion-item" >
                                    <a class="accordion-head" data-bs-toggle="collapse">
                                        <span class="accordion-head-title">{{ $any(permission.key) | textReplacement | titlecase }}</span>
        
                                    </a>
                                    <div id="collapseTwo" class="collapse show" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <input [formControlName]="$any(permission.key)" type="text" placeholder=""
                                                        class="form-control" />
                                                        <div class="invalid-input"
                                                            *ngIf="form.get($any(permission.key))?.errors && form.get($any(permission.key))?.touched">
                                                            <div *ngIf="form.get($any(permission.key))?.errors?.required">
                                                                Description is required
                                                            </div>
                                                            <div *ngIf="form.get($any(permission.key))?.errors?.pattern">
                                                                Invalid description
                                                            </div>
                                                            <div *ngIf="form.get($any(permission.key))?.errors?.maxlength">
                                                                Maximum 500 characters allowed
                                                            </div>
                                                            <div *ngIf="form.get($any(permission.key))?.errors?.minlength">
                                                                Description must be minimum 3 characters long
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-end">
                                <button routerLink="../roles" class="theme-btn white-btn">Cancel</button>
                                <button (click)="updatePermissions()" [ngStyle]="{'background-color':color}" class="theme-btn">Update</button>
                            </div>
                        </div>
                      
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>


















<!-- <main class="dashboard-wrapper">
    <div class="container">
        <div class="craete-lead-wrapper">
            <div class="page-header">
                <ul class="breadcrumb">
                    <li class="left-icon">
                        <span>
                            <svg width="5" height="9" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M-9.79475e-05 4.47979C-9.79402e-05 4.31342 0.0624016 4.15345 0.181152 4.02547L3.93115 0.186189C4.1749 -0.063365 4.5749 -0.063365 4.81865 0.186189C5.0624 0.435742 5.0624 0.845266 4.81865 1.09482L1.50615 4.47979L4.81865 7.86476C5.0624 8.11431 5.0624 8.51744 4.81865 8.76699C4.5749 9.01654 4.18115 9.01654 3.9374 8.76699L0.181152 4.9341C0.0561517 4.80613 -9.79548e-05 4.64616 -9.79475e-05 4.47979Z"
                                    fill="#565D80"></path>
                            </svg>
                        </span>
                    </li>
                    <li>
                        <span class="cursor-pointer" routerLink="/{{userBaseRoute}}/reports">Reports</span>/
                    </li>
                    <li>
                        <span class="active-page">Edit Report Description</span>
                    </li>
                </ul>
            </div>
            <div class="create-lead-content">
                <div class="updated-role-feilds">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="updated-title">
                                <span class="accordion-head-title">Edit Report Description</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="full-view" >
                    <div class="accordion" id="accordion">
                        <div class="row" [formGroup]="form">
                            <div class="col-6">
                                <div class="accordion-item">
                                    <a class="accordion-head" data-bs-toggle="collapse">
                                        <span class="accordion-head-title">Login Logs Report</span>

                                    </a>
                                    <div id="collapseTwo" class="collapse show" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <input formControlName="login_logs" type="text" placeholder="Enter login logs report description"
                                                            class="form-control" />
                                                        <div class="invalid-input"
                                                            *ngIf="f.login_logs.errors && f.login_logs.touched">
                                                            <div *ngIf="f.login_logs.errors.required">
                                                                Description is required
                                                            </div>
                                                            <div *ngIf="f.login_logs.errors.pattern">
                                                                Invalid description
                                                            </div>
                                                            <div *ngIf="f.login_logs.errors.maxlength">
                                                                Maximum 100 characters allowed
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="accordion-item">
                                    <a class="accordion-head" data-bs-toggle="collapse">
                                        <span class="accordion-head-title">Lead Source Report</span>

                                    </a>
                                    <div id="collapseTwo" class="collapse show" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <input formControlName="lead_source" type="text" placeholder="Enter lead source report description"
                                                            class="form-control" />
                                                        <div class="invalid-input"
                                                            *ngIf="f.lead_source.errors && f.lead_source.touched">
                                                            <div *ngIf="f.lead_source.errors.required">
                                                                Description is required
                                                            </div>
                                                            <div *ngIf="f.lead_source.errors.pattern">
                                                                Invalid description
                                                            </div>
                                                            <div *ngIf="f.lead_source.errors.maxlength">
                                                                Maximum 100 characters allowed
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="accordion-item">
                                    <a class="accordion-head" data-bs-toggle="collapse">
                                        <span class="accordion-head-title">Underwritter Report</span>

                                    </a>
                                    <div id="collapseTwo" class="collapse show" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <input formControlName="underwritter" type="text" placeholder="Enter underwritter report description"
                                                            class="form-control" />
                                                        <div class="invalid-input"
                                                            *ngIf="f.underwritter.errors && f.underwritter.touched">
                                                            <div *ngIf="f.underwritter.errors.required">
                                                                Description is required
                                                            </div>
                                                            <div *ngIf="f.underwritter.errors.pattern">
                                                                Invalid description
                                                            </div>
                                                            <div *ngIf="f.underwritter.errors.maxlength">
                                                                Maximum 100 characters allowed
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="accordion-item">
                                    <a class="accordion-head" data-bs-toggle="collapse">
                                        <span class="accordion-head-title">Email Logs Report</span>

                                    </a>
                                    <div id="collapseTwo" class="collapse show" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <input formControlName="email_logs" type="text" placeholder="Enter email logs report description"
                                                            class="form-control" />
                                                        <div class="invalid-input"
                                                            *ngIf="f.email_logs.errors && f.email_logs.touched">
                                                            <div *ngIf="f.email_logs.errors.required">
                                                                Description is required
                                                            </div>
                                                            <div *ngIf="f.email_logs.errors.pattern">
                                                                Invalid description
                                                            </div>
                                                            <div *ngIf="f.email_logs.errors.maxlength">
                                                                Maximum 100 characters allowed
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="accordion-item">
                                    <a class="accordion-head" data-bs-toggle="collapse">
                                        <span class="accordion-head-title">Lender Submission Report</span>

                                    </a>
                                    <div id="collapseTwo" class="collapse show" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <input formControlName="lender_submission" type="text"
                                                            placeholder="Enter lender submission report description" class="form-control" />
                                                        <div class="invalid-input"
                                                            *ngIf="f.lender_submission.errors && f.lender_submission.touched">
                                                            <div *ngIf="f.lender_submission.errors.required">
                                                                Description is required
                                                            </div>
                                                            <div *ngIf="f.lender_submission.errors.pattern">
                                                                Invalid description
                                                            </div>
                                                            <div *ngIf="f.lender_submission.errors.maxlength">
                                                                Maximum 100 characters allowed
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="accordion-item">
                                    <a class="accordion-head" data-bs-toggle="collapse">
                                        <span class="accordion-head-title">Funding Report</span>

                                    </a>
                                    <div id="collapseTwo" class="collapse show" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <input formControlName="funding" type="text" placeholder="Enter funding report description"
                                                            class="form-control" />
                                                        <div class="invalid-input"
                                                            *ngIf="f.funding.errors && f.funding.touched">
                                                            <div *ngIf="f.funding.errors.required">
                                                                Description is required
                                                            </div>
                                                            <div *ngIf="f.funding.errors.pattern">
                                                                Invalid description
                                                            </div>
                                                            <div *ngIf="f.funding.errors.maxlength">
                                                                Maximum 100 characters allowed
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="accordion-item">
                                    <a class="accordion-head" data-bs-toggle="collapse">
                                        <span class="accordion-head-title">Offers Report</span>

                                    </a>
                                    <div id="collapseTwo" class="collapse show" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <input formControlName="offers" type="text" placeholder="Enter offer report description"
                                                            class="form-control" />
                                                        <div class="invalid-input"
                                                            *ngIf="f.offers.errors && f.offers.touched">
                                                            <div *ngIf="f.offers.errors.required">
                                                                Description is required
                                                            </div>
                                                            <div *ngIf="f.offers.errors.pattern">
                                                                Invalid description
                                                            </div>
                                                            <div *ngIf="f.offers.errors.maxlength">
                                                                Maximum 100 characters allowed
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="accordion-item">
                                    <a class="accordion-head" data-bs-toggle="collapse">
                                        <span class="accordion-head-title">Funded Report</span>

                                    </a>
                                    <div id="collapseTwo" class="collapse show" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <input formControlName="funded" type="text" placeholder="Enter funded report description"
                                                            class="form-control" />
                                                        <div class="invalid-input"
                                                            *ngIf="f.funded.errors && f.funded.touched">
                                                            <div *ngIf="f.funded.errors.required">
                                                                Description is required
                                                            </div>
                                                            <div *ngIf="f.funded.errors.pattern">
                                                                Invalid description
                                                            </div>
                                                            <div *ngIf="f.funded.errors.maxlength">
                                                                Maximum 100 characters allowed
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="accordion-item">
                                    <a class="accordion-head" data-bs-toggle="collapse">
                                        <span class="accordion-head-title">Pre Funding Report</span>

                                    </a>
                                    <div id="collapseTwo" class="collapse show" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <input formControlName="pre_funding" type="text" placeholder="Enter pre funding report description"
                                                            class="form-control" />
                                                        <div class="invalid-input"
                                                            *ngIf="f.pre_funding.errors && f.pre_funding.touched">
                                                            <div *ngIf="f.pre_funding.errors.required">
                                                                Description is required
                                                            </div>
                                                            <div *ngIf="f.pre_funding.errors.pattern">
                                                                Invalid description
                                                            </div>
                                                            <div *ngIf="f.pre_funding.errors.maxlength">
                                                                Maximum 100 characters allowed
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="accordion-item">
                                    <a class="accordion-head" data-bs-toggle="collapse">
                                        <span class="accordion-head-title">Lenders Report</span>

                                    </a>
                                    <div id="collapseTwo" class="collapse show" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <input formControlName="lenders" type="text" placeholder="Enter lenders report description"
                                                            class="form-control" />
                                                        <div class="invalid-input"
                                                            *ngIf="f.lenders.errors && f.lenders.touched">
                                                            <div *ngIf="f.lenders.errors.required">
                                                                Description is required
                                                            </div>
                                                            <div *ngIf="f.lenders.errors.pattern">
                                                                Invalid description
                                                            </div>
                                                            <div *ngIf="f.lenders.errors.maxlength">
                                                                Maximum 100 characters allowed
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="accordion-item">
                                    <a class="accordion-head" data-bs-toggle="collapse">
                                        <span class="accordion-head-title">Update Logs Report</span>

                                    </a>
                                    <div id="collapseTwo" class="collapse show" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <input formControlName="updates_logs" type="text" placeholder="Enter update logs report description"
                                                            class="form-control" />
                                                        <div class="invalid-input"
                                                            *ngIf="f.updates_logs.errors && f.updates_logs.touched">
                                                            <div *ngIf="f.updates_logs.errors.required">
                                                                Description is required
                                                            </div>
                                                            <div *ngIf="f.updates_logs.errors.pattern">
                                                                Invalid description
                                                            </div>
                                                            <div *ngIf="f.updates_logs.errors.maxlength">
                                                                Maximum 100 characters allowed
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="accordion-item">
                                    <a class="accordion-head" data-bs-toggle="collapse">
                                        <span class="accordion-head-title">Iso Payment Report</span>

                                    </a>
                                    <div id="collapseTwo" class="collapse show" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <input formControlName="iso_payment" type="text" placeholder="Enter iso payment report description"
                                                            class="form-control" />
                                                        <div class="invalid-input"
                                                            *ngIf="f.iso_payment.errors && f.iso_payment.touched">
                                                            <div *ngIf="f.iso_payment.errors.required">
                                                                Description is required
                                                            </div>
                                                            <div *ngIf="f.iso_payment.errors.pattern">
                                                                Invalid description
                                                            </div>
                                                            <div *ngIf="f.iso_payment.errors.maxlength">
                                                                Maximum 100 characters allowed
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="accordion-item">
                                    <a class="accordion-head" data-bs-toggle="collapse">
                                        <span class="accordion-head-title">Submission Report</span>

                                    </a>
                                    <div id="collapseTwo" class="collapse show" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <input formControlName="submission" type="text" placeholder="Enter submission report description"
                                                            class="form-control" />
                                                        <div class="invalid-input"
                                                            *ngIf="f.submission.errors && f.submission.touched">
                                                            <div *ngIf="f.submission.errors.required">
                                                                Description is required
                                                            </div>
                                                            <div *ngIf="f.submission.errors.pattern">
                                                                Invalid description
                                                            </div>
                                                            <div *ngIf="f.submission.errors.maxlength">
                                                                Maximum 100 characters allowed
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="accordion-item">
                                    <a class="accordion-head" data-bs-toggle="collapse">
                                        <span class="accordion-head-title">Pull Through Ratio Report</span>

                                    </a>
                                    <div id="collapseTwo" class="collapse show" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <input formControlName="pull_through_ratio" type="text"
                                                            placeholder="Enter pull through ratio report description" class="form-control" />
                                                        <div class="invalid-input"
                                                            *ngIf="f.pull_through_ratio.errors && f.pull_through_ratio.touched">
                                                            <div *ngIf="f.pull_through_ratio.errors.required">
                                                                Description is required
                                                            </div>
                                                            <div *ngIf="f.pull_through_ratio.errors.pattern">
                                                                Invalid description
                                                            </div>
                                                            <div *ngIf="f.pull_through_ratio.errors.maxlength">
                                                                Maximum 100 characters allowed
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="accordion-item">
                                    <a class="accordion-head" data-bs-toggle="collapse">
                                        <span class="accordion-head-title">Analytics Report</span>

                                    </a>
                                    <div id="collapseTwo" class="collapse show" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <input formControlName="analytics" type="text" placeholder="Enter analytics report description"
                                                            class="form-control" />
                                                        <div class="invalid-input"
                                                            *ngIf="f.analytics.errors && f.analytics.touched">
                                                            <div *ngIf="f.analytics.errors.required">
                                                                Description is required
                                                            </div>
                                                            <div *ngIf="f.analytics.errors.pattern">
                                                                Invalid description
                                                            </div>
                                                            <div *ngIf="f.analytics.errors.maxlength">
                                                                Maximum 100 characters allowed
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="accordion-item">
                                    <a class="accordion-head" data-bs-toggle="collapse">
                                        <span class="accordion-head-title">Lender Owe Report</span>

                                    </a>
                                    <div id="collapseTwo" class="collapse show" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="form-group">
                                                        <input formControlName="lender_owe" type="text" placeholder="Enter lender owe report description"
                                                            class="form-control" />
                                                        <div class="invalid-input"
                                                            *ngIf="f.lender_owe.errors && f.lender_owe.touched">
                                                            <div *ngIf="f.lender_owe.errors.required">
                                                                Description is required
                                                            </div>
                                                            <div *ngIf="f.lender_owe.errors.pattern">
                                                                Invalid description
                                                            </div>
                                                            <div *ngIf="f.lender_owe.errors.maxlength">
                                                                Maximum 100 characters allowed
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-end">
                                <button routerLink="../roles" class="theme-btn white-btn">Cancel</button>
                                <button (click)="updatePermissions()" class="theme-btn">Update</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</main> -->