.form-group.cstm-form-funded {
    text-align: right;
}
.order-list-inner table tfoot tr {
    background: #FFFFFF;
    border-radius: 10px;
}
.order-list-inner table tfoot tr td {
    font-weight: 700;
}
.plusMinusBTN{
    background: none;
      border: none;
      font-size: 20px;
  }
  //custom datePickerColor
  .custom-day.range, .custom-day:hover {
    background-color: var(--custom,'#FA5440') !important;
}
// sorting icon
.downward-img {
    transform: rotate(-90deg);
    margin-left: 10px;
    width: 100%;
    max-width: 10px;
  }
  .upward-img {
    transform: rotate(90deg);
    margin-left: 10px;
    width: 100%;
    max-width: 10px;
  }
  .active-tab{
    color: #0089ff;
  }