<main class="dashboard-wrapper email-template-builder">
    <div class="container">
        <div class="craete-lead-wrapper">
            <div class="page-header">
                <ul class="breadcrumb">
                    <li class="left-icon cursor-pointer" routerLink="../../lead-detail/{{ leadID }}">
                        <span>
                            <svg width="5" height="9" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M-9.79475e-05 4.47979C-9.79402e-05 4.31342 0.0624016 4.15345 0.181152 4.02547L3.93115 0.186189C4.1749 -0.063365 4.5749 -0.063365 4.81865 0.186189C5.0624 0.435742 5.0624 0.845266 4.81865 1.09482L1.50615 4.47979L4.81865 7.86476C5.0624 8.11431 5.0624 8.51744 4.81865 8.76699C4.5749 9.01654 4.18115 9.01654 3.9374 8.76699L0.181152 4.9341C0.0561517 4.80613 -9.79548e-05 4.64616 -9.79475e-05 4.47979Z"
                                    fill="#565D80"></path>
                            </svg>
                        </span>
                    </li>
                    <li class="cursor-pointer" routerLink="../../leads">
                        <span>All Leads</span>/
                    </li>
                    <li class="cursor-pointer" routerLink="../../lead-detail/{{ leadID }}">
                        <span class="active-page">
                            Lead Details
                            <span class="active-page" *ngIf="lead.lead_id">( {{ lead.lead_id }}, {{ lead?.company_name
                                }}, DBA -
                                {{ lead?.lead_doing_business_as }} )</span></span>/
                    </li>
                    <li>
                        <span class="active-page">Fetch and Upload Data</span>
                    </li>
                </ul>
            </div>
            <app-all-detail-lead [leadId]="leadID" (leadDetails)="getLeadBasicDetails($event)"></app-all-detail-lead>
            <div class="create-lead-content">
                <div class="full-view">
                    <div class="craete-lead-wrapper">
                        <div class="list-search-content">
                            <div class="update-table">
                                <table class="table table-responsive">
                                    <thead>
                                        <tr [ngStyle]="background">
                                            <th>Title</th>
                                            <th>Type</th>
                                            <th>Created Date</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let fund of updatesList | paginate: { itemsPerPage: limit, currentPage: updatepage, totalItems: total,  id: 'updatepage' } ; let i = index">
                                            <td>
                                                <span>{{getMonthName(fund.document_name)}}</span>
                                            </td>
                                            <td>
                                                <span>{{fund.document_type.replaceAll('_', ' ')}}</span>
                                            </td>
                                            <td>{{GetDate(fund.funding_date)}}</td>
                                            <td>
                                                <div class="col-12" *ngIf="fund.fcs_status == 0">
                                                    <div class="form-group cstm-form-funded">
                                                        <button class="theme-btn" [ngStyle]="background" (click)="getPushedDocs(fund.document_id)">Click to push</button>
                                                    </div>
                                                </div>
                                                <div class="col-12" *ngIf="fund.fcs_status == 1">
                                                    <div class="form-group cstm-form-funded">
                                                        <button class="theme-btn" [ngStyle]="background" (click)="getReflectFcsScore(fund.document_id)">Click to reflect on fcs</button>
                                                    </div>
                                                </div>
                                                <b><span *ngIf="fund.fcs_status == 2">Data pushed on fcs</span></b>

                                            </td>
                                            <!-- <td>
                                               <a *ngIf="canViewLenderOffer"
                                                 routerLink="/{{userBaseRoute}}/pre-fund/{{leadID}}"
                                                    [queryParams]="{mode: 'view'}" class="view cursor-pointer"><img
                                                        src="assets/images/view.svg" alt="/icon"></a>
                                                <a *ngIf="canDeleteLenderOffer"
                                                 (confirm)="deletePrefund(fund.id)"
                                                    [swal]="{ title: 'Are you sure to delete?',text: 'You will not be able to revert this!',icon: 'warning',confirmButtonColor: '#f0412e', showCancelButton: true,confirmButtonText: 'Yes, delete it!' }"
                                                    class="delete cursor-pointer"><img src="assets/images/delete.svg"
                                                        alt="/icon"></a>
                                            </td> -->
                                        </tr>
                                        <tr *ngIf="!updatesList.length">
                                         <td colspan="4" class="text-center">
                                                No records found
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="footer-pagination">
                                    <pagination-controls id="updatepage" (pageChange)="onPageChange($event)">
                                    </pagination-controls>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>