<main class="dashboard-wrapper">
    <div class="drip-campaign-content">
        <div class="breadcrumb-drip-campaign">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="left-icon">
                        <span>
                            <svg width="5" height="9" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M-9.79475e-05 4.47979C-9.79402e-05 4.31342 0.0624016 4.15345 0.181152 4.02547L3.93115 0.186189C4.1749 -0.063365 4.5749 -0.063365 4.81865 0.186189C5.0624 0.435742 5.0624 0.845266 4.81865 1.09482L1.50615 4.47979L4.81865 7.86476C5.0624 8.11431 5.0624 8.51744 4.81865 8.76699C4.5749 9.01654 4.18115 9.01654 3.9374 8.76699L0.181152 4.9341C0.0561517 4.80613 -9.79548e-05 4.64616 -9.79475e-05 4.47979Z"
                                    fill="#565D80"></path>
                            </svg>
                        </span>
                    </li>
                    <li>
                        <span class="cursor-pointer" routerLink="/{{userBaseRoute}}/drip-campaign-list">Drip Campaign
                            List</span>/
                    </li>
                    <li>
                        <span class="active-page">Add Drip Campaign</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="top-header-outer">
            <ul [(activeId)]="activeTab" ngbNav #nav="ngbNav">
                <li [ngbNavItem]="'Actions'" [ngClass]="{ 'active': activeTab == 'Actions' }">
                    <a ngbNavLink>
                        <span>
                            Actions
                        </span>
                    </a>

                    <ng-template ngbNavContent>
                        <div class="container">
                            <div class="campaign-outer" *ngIf="!campaignSteps.length else campaign">
                                <div class="setup-trigger-outer">
                                    <!-- <span class="header-title-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License)<path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"/></svg></span> -->
                                    <div class="header">
                                        Campaign trigger({{dripCampaignName}})
                                        <a (click)="openModal(dripCampaign)" class="edit-icon"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
                                                <path
                                                    d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z" />
                                            </svg></a>
                                    </div>
                                    <div class="body">
                                        <p>
                                            Choose the trigger
                                        </p>
                                        <button [ngStyle]="background" class="theme-btn" (click)="popUps.statusPopup = true;">Set up
                                            trigger</button>
                                    </div>

                                </div>
                                <div class="end-outer">
                                    <div class="liner">

                                    </div>
                                    <button (click)="openActionsModel()" class="add-btn">
                                        +
                                    </button>
                                    <div class="liner">

                                    </div>
                                    <button (click)="onEndClick()" class="end-btn" [ngStyle]="{'border-color':color,'color':color}">End</button>
                                </div>


                                <!-- <div class="end-outer">
                                    <div class="liner">
                    
                                    </div>
                                    <button class="add-btn rotate">
                                        <span>
                                            +
                                        </span>
                                        
                                    </button>
                                    <div class="liner">
                    
                                    </div>
                                    <div class="new-action">
                                        <span>New Action</span>
                                    </div>
                                    <div class="liner">
                    
                                    </div>
                                    <button class="end-btn">End</button>
                                </div> -->
                            </div>
                            <ng-template #campaign>
                                <div class="campaign-outer">
                                    <ng-container *ngFor="let camp of campaignSteps; let i = index">
                                        <div class="setup-trigger-outer" [ngClass]="{ 'grabbable': i>0 }"  
                                            dndDropzone
                                            (dndDragover)="onDragover($event, i)"
                                            (dndDrop)="onDrop($event, campaignSteps)" 
                                            [dndDraggable]="camp"
                                            [dndEffectAllowed]="draggable.effectAllowed"
                                            [dndDisableIf]="draggable.disable"
                                            (dndStart)="onDragStart($event, i, camp)"
                                            (dndCopied)="onDraggableMoved($event,camp, campaignSteps, 'copy', i)"
                                            (dndEnd)="onDragEnd($event,campaignSteps)">
                                            <div class="header" *ngIf="i==0">
                                                {{ camp.header_text }}({{dripCampaignName}})
                                                <a (click)="openModal(dripCampaign)" class="edit-icon"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                        <!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
                                                        <path
                                                            d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z" />
                                                    </svg></a>
                                            </div>
                                            <div class="header" *ngIf="i>0" [ngClass]="{'green-color': i%2 !== 0}">
                                                {{ camp.header_text }}
                                                <div *ngIf="i>0" class="header-cross-btn">
                                                    <button (click)="removeStep(i)" class="btn-close"></button>
                                                </div>
                                            </div>
                                            <div class="body">
                                                <ng-container [ngSwitch]="camp.type">
                                                    <div *ngSwitchCase="steps.TRIGGER"
                                                        (click)="popUps.statusPopup = true;">
                                                        <p>
                                                            Lead status is any of {{ camp.data.status_name }} <a
                                                                (click)="popUps.statusPopup = true;"
                                                                class="edit-icon"><svg
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    viewBox="0 0 512 512">
                                                                    <!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
                                                                    <path
                                                                        d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z" />
                                                                </svg></a>
                                                        </p>
                                                    </div>
                                                    <!-- (click)="changeTimeDelay(i, camp.data.timeText, steps.TIME_DELAY)"            -->
                                                    <div *ngSwitchCase="steps.TIME_DELAY">
                                                        <p>
                                                            {{ camp.data.timeText }}
                                                        </p>
                                                    </div>
                                                    <div *ngSwitchCase="steps.SEND_EMAIL">
                                                        <p>
                                                            {{ camp.data.templateText }}
                                                        </p>
                                                    </div>
                                                    <div *ngSwitchCase="steps.SET_PROPERTY_VALUE">
                                                        <p>
                                                            Set Lead status to {{ camp.data.status_name }}
                                                        </p>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                        <div class="end-outer" *ngIf="i < (campaignSteps.length - 1)">
                                            <div class="liner">

                                            </div>
                                            <button (click)="addOnAIndex = i;openActionsModel()" class="add-btn">
                                                +
                                            </button>
                                            <div class="liner">

                                            </div>
                                        </div>
                                    </ng-container>

                                    <div class="end-outer">
                                        <div class="liner">

                                        </div>
                                        <button (click)="addOnAIndex = null;openActionsModel()" class="add-btn">
                                            +
                                        </button>
                                        <div class="liner">

                                        </div>
                                        <button (click)="onEndClick()" class="end-btn" [ngStyle]="{'border-color':color,'color':color}">End</button>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                        <!-- trigger popup -->
                        <div class="modal-right" [ngClass]="{'active': popUps.statusPopup}">
                            <div class="lead-status" [formGroup]="leadStatusForm" >
                                <div class="header">
                                    Campaign Trigger
                                </div>
                                <!--  -->
                                <div class="select-type"  >
                                <div class="select-type">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="radio-btns">
                                                <div class="form-check">
                                                    <input type="radio"
                                                        (change)="selectType($any($event.target).value)"
                                                        formControlName="status_type"
                                                        class="form-check-input cursor-pointer" id="text"
                                                        name="status_type" value="from_status" [ngStyle]="{'background-color':leadStatusForm.value.status_type == 'from_status'?color:'','border-color':leadStatusForm.value.status_type == 'from_status'?color:''}"/>
                                                    <label class="form-check-label cursor-pointer"
                                                        for="text">Select
                                                        from status</label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="radio"
                                                    (change)="selectType($any($event.target).value)"
                                                        formControlName="status_type"
                                                        class="form-check-input cursor-pointer" id="email"
                                                        name="status_type" value="from_list" [ngStyle]="{'background-color':leadStatusForm.value.status_type == 'from_list'?color:'','border-color':leadStatusForm.value.status_type == 'from_list'?color:''}"/>
                                                    <label class="form-check-label cursor-pointer"
                                                        for="email">Select from
                                                        list</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="condition" *ngIf="leadStatusForm.value.status_type == 'from_list'">
                                 <!--  -->
                                 <div class="select-template">
                                    <div class="row">
                                      
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>List</label>
                                                <ng-select formControlName="list" 
                                                name="status" placeholder="Select List" appearance="outline"
                                             labelForId="elead" (change)="showActiveStatic($event)">
                                                <ng-option [value]="list" *ngFor="let list of listingList">
                                                    {{ list.name }}
                                                </ng-option>
                                                </ng-select>
                                                <!-- Active({{list.active_count}}) , Static({{list.static_count}}) -->
                                                <!-- <ng-select formControlName="list" bindValue="id"
                                                    [items]="listingList" bindLabel="name "
                                                    placeholder="Select list">
                                                </ng-select> -->
                                                <div class="invalid-input"
                                                    *ngIf="control.list.errors && control.list.touched">
                                                    <div *ngIf="control.list.errors.required">
                                                       List is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                               
                                        <!-- <div class="condition" *ngIf="activeStaticList">
                                    <div class="col-md-12">
                                        <div class="radio-btns">
                                            <div class="form-check">
                                                <input type="radio"
                                                    formControlName="select_list"
                                                    class="form-check-input cursor-pointer" id="text"
                                                    name="select_list" value="active" />
                                                <label class="form-check-label cursor-pointer"
                                                    for="text">Active List
                                                    </label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio"
                                                    formControlName="select_list"
                                                    class="form-check-input cursor-pointer" id="email"
                                                    name="select_list" value="static" />
                                                <label class="form-check-label cursor-pointer"
                                                    for="email">Static List</label>
                                            </div>
                                        </div>

                                    </div>
                                    </div> -->
                                    </div>
                                </div>

                                 <!--  -->


                                    </div>
                            </div>
                                <!--  -->
                                <!-- start conditon -->
                                <div class="condition" *ngIf="leadStatusForm.value.status_type == 'from_status'">
                                <div class="body" >
                                    <div class="form-group">
                                        <label>Lead Status</label>
                                      <ng-select
                                        [items]="leadStatusList"
                                        [multiple]="true"
                                        bindLabel="name"
                                        [closeOnSelect]="false"
                                        [virtualScroll]="true"
                                        bindValue="id"
                                        formControlName="lead_status"
                                        placeholder="Select"
                                        [loading]="loading"
                                      >
                                        <ng-template
                                          ng-option-tmp
                                          let-item="item"
                                          let-item$="item$"
                                          let-index="index"
                                        >
                                          <input
                                            id="item-{{ index }}"
                                            type="checkbox"
                                            [checked]="item$.selected"
                                          />
                                          {{ item.name }}
                                        </ng-template>
                                      </ng-select>
                                      <div class="invalid-input"
                                      *ngIf="control.lead_status.errors && control.lead_status.touched">
                                      <div *ngIf="control.lead_status.errors.required">
                                        Lead status is required
                                      </div>
                                  </div>
                                    </div>
                                    <!-- <div class="lead-status-search">
                                        <div class="top-header-search">
                                            <input [(ngModel)]="leadSearchModel"  class="form-control search-input"
                                                type="text" placeholder="Search lead status" autofocus>

                                        </div>
                                    </div>
                                    <div class="status-list">
                                        <div class="mark-completed">
                                            <div class="form-check"
                                                *ngFor="let status of leadStatusList | searchFilter: leadSearchModel">
                                                <input class="form-check-input" (change)="onLeadStatusChange(status)"
                                                    type="radio" name="keys_on_hand" [id]="status.id"
                                                    [value]="status.id">
                                                <label class="form-check-label" [for]="status.id">
                                                    {{status.name}}
                                                </label>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="footer">
                                <div>
                                    <button (click)="addTrigger()"  [ngStyle]="{'border-color':color,'color':color}">Save</button>
                                    <button (click)="popUps.statusPopup = false" [ngStyle]="{'border-color':color,'color':color}">Cancel</button>
                                </div>
                            </div>

                            </div>
                        </div>

                        <!-- Actions popup -->
                        <div class="modal-right" [ngClass]="{'active': popUps.actionsPopup}">
                            <div class="actions-outer">
                                <div class="header">
                                    Actions
                                </div>
                                <div class="body">
                                    <div class="actions">
                                        <h6>
                                            Delay
                                        </h6>
                                        <div class="list">
                                            <ul>
                                                <li (click)="closeAllModels();popUps.timeDelay = true;">
                                                    <span class="input-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                                            viewBox="0 0 384 512">
                                                            <!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
                                                            <path
                                                                d="M360 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24 0 90.965 51.016 167.734 120.842 192C75.016 280.266 24 357.035 24 448c-13.255 0-24 10.745-24 24v16c0 13.255 10.745 24 24 24h336c13.255 0 24-10.745 24-24v-16c0-13.255-10.745-24-24-24 0-90.965-51.016-167.734-120.842-192C308.984 231.734 360 154.965 360 64c13.255 0 24-10.745 24-24V24c0-13.255-10.745-24-24-24zm-64 448H88c0-77.458 46.204-144 104-144 57.786 0 104 66.517 104 144z" />
                                                        </svg></span>
                                                    Delay for a set amount of time
                                                </li>
                                                <li>
                                                    <span class="input-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                                            viewBox="0 0 448 512">
                                                            <!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
                                                            <path
                                                                d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm320-196c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM192 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM64 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z" />
                                                        </svg></span>
                                                    Delay until a date
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="actions">
                                        <h6>

                                            Notifications
                                        </h6>
                                        <div class="list">
                                            <ul>
                                                <li (click)="closeAllModels();popUps.sendMail = true;">
                                                    <span class="input-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                                            viewBox="0 0 448 512">
                                                            <!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
                                                            <path
                                                                d="M224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64zm215.39-149.71c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71z" />
                                                        </svg></span>
                                                    Send a email notification
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="actions">
                                        <h6>
                                            Property management
                                        </h6>
                                        <div class="list">
                                            <ul>
                                                <li (click)="closeAllModels();popUps.setPropertyValue = true;">
                                                    <span class="input-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                                            viewBox="0 0 640 512">
                                                            <!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
                                                            <path
                                                                d="M632.88 400.71L544 352v-64l55.16-17.69c11.79-5.9 11.79-22.72 0-28.62L480 192v-64l27.31-16.3c7.72-7.72 5.61-20.74-4.16-25.62L320 0 136.85 86.07c-9.77 4.88-11.88 17.9-4.16 25.62L160 128v64L40.84 241.69c-11.79 5.9-11.79 22.72 0 28.62L96 288v64L7.12 400.71c-5.42 3.62-7.7 9.63-7 15.29.62 5.01 3.57 9.75 8.72 12.33L64 448v48c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16v-48h160v48c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16v-48h160v48c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16v-48l55.15-19.67c5.16-2.58 8.1-7.32 8.72-12.33.71-5.67-1.57-11.68-6.99-15.29zM224 128h192v64H224v-64zm-64 224v-64h320v64H160z" />
                                                        </svg></span>
                                                    Set property value
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div>
                                        <button (click)="popUps.actionsPopup = false" [ngStyle]="{'border-color':color,'color':color}">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Delay for set amount of time -->
                        <div class="modal-right" [ngClass]="{'active': popUps.timeDelay}">
                            <div class="delay-outer" [formGroup]="delaytimer">
                                <div class="header">
                                    Delay for a set amount of time
                                </div>
                                <div class="body">
                                    <div class="delay">
                                        <p>
                                            Delay enrolled records for a specific amount of days, hours and minutes. Use
                                            this delay when you
                                            want to pause all enrolled records for some amount of time.
                                        </p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Day</label>
                                                    <input formControlName="day" class="form-control" min="0"
                                                        type="number" name="" id="">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Hour</label>
                                                    <input (change)="changeHours($any($event.target).value)"
                                                        formControlName="hour" class="form-control" min="0"
                                                        type="number" name="" id="">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Minute</label>
                                                    <input (change)="changeMinutes($any($event.target).value)"
                                                        formControlName="minute" class="form-control" min="0"
                                                        type="number" name="" id="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div>
                                        <button (click)="onDelaySelection()"   [ngStyle]="{'border-color':color,'color':color}">Save</button>
                                        <button
                                            (click)="popUps.timeDelay = false; popUps.actionsPopup = true"  [ngStyle]="{'border-color':color,'color':color}">Cancel</button>
                                        <!-- <button (click)="closeAllModels()">Cancel</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Send emails  -->
                        <div class="modal-right " [ngClass]="{'active': popUps.sendMail}">
                            <div class="send-email-notifications">
                                <div class="header">
                                    Send email notifications
                                </div>
                                <div class="body">
                                    <div class="send-email" [formGroup]="sendMailForm">
                                        <div class="select-template">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="radio-btns">
                                                        <div class="form-check">
                                                            <input type="radio"
                                                                (change)="templateType($any($event.target).value)"
                                                                formControlName="template_type"
                                                                class="form-check-input cursor-pointer" id="text"
                                                                name="template_type" value="predefined" [ngStyle]="{'background-color':this.sendMailForm.value.template_type == 'predefined'?color:'','border-color':this.sendMailForm.value.template_type == 'predefined'?color:''}" />
                                                            <label class="form-check-label cursor-pointer"
                                                                for="text">Select
                                                                template</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input type="radio"
                                                                (change)="templateType($any($event.target).value)"
                                                                formControlName="template_type"
                                                                class="form-check-input cursor-pointer" id="email"
                                                                name="template_type" value="from_scratch" [ngStyle]="{'background-color':this.sendMailForm.value.template_type == 'from_scratch'?color:'','border-color':this.sendMailForm.value.template_type == 'from_scratch'?color:''}"/>
                                                            <label class="form-check-label cursor-pointer"
                                                                for="email">Create from
                                                                scratch</label>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-12"
                                                    *ngIf="sendMailForm.value.template_type == 'predefined'">
                                                    <div class="form-group">
                                                        <label>Template</label>
                                                        <ng-select formControlName="template" bindValue="id"
                                                            [items]="emailTemplateList" bindLabel="name"
                                                            placeholder="Select Template">
                                                        </ng-select>
                                                        <div class="invalid-input"
                                                            *ngIf="f.template.errors && f.template.touched">
                                                            <div *ngIf="f.template.errors.required">
                                                                Please select a template
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="create-template"
                                            *ngIf="sendMailForm.value.template_type == 'from_scratch'">
                                            <div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Subject</label>
                                                            <input formControlName="subject" type="text"
                                                                class="form-control" placeholder="Subject">
                                                            <div class="invalid-input"
                                                                *ngIf="f.subject.errors && f.subject.touched">
                                                                <div *ngIf="f.subject.errors.required">
                                                                    Subject is required
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>CC</label>
                                                            <input formControlName="cc" type="text" class="form-control"
                                                                placeholder="Cc">
                                                            <div class="invalid-input"
                                                                *ngIf="f.cc.errors && f.cc.touched">
                                                                <div *ngIf="f.cc.errors.required">
                                                                    Cc is required
                                                                </div>
                                                                <div *ngIf="f.cc.errors.pattern">
                                                                    Invalid email
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="">Body</label>
                                                            <angular-editor formControlName="body" #myckeditor
                                                                [config]="editorConfig">
                                                                <ng-template #customButtons
                                                                    let-executeCommandFn="executeCommandFn">
                                                                    <ae-toolbar-set>
                                                                        <ae-button iconClass="fa fa-user"
                                                                            title="Personalized"
                                                                            (buttonClick)="openPeronisedForm(myckeditor)">
                                                                        </ae-button>
                                                                    </ae-toolbar-set>
                                                                </ng-template>
                                                            </angular-editor>
                                                            <div class="invalid-input"
                                                                *ngIf="f.body.errors && f.body.touched">
                                                                <div *ngIf="f.body.errors.required">
                                                                    Template body is required
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div>
                                        <button (click)="ontemplateSave()"   [ngStyle]="{'border-color':color,'color':color}">Save</button>
                                        <button
                                            (click)="popUps.sendMail = false; popUps.actionsPopup = true"  [ngStyle]="{'border-color':color,'color':color}">Cancel</button>
                                        <!-- <button (click)="closeAllModels()">Cancel</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-right" [ngClass]="{'active': popUps.setPropertyValue}">
                            <div class="property-value-outer" [formGroup]="setPropertyForm">
                                <div class="header">
                                    Set property value
                                </div>
                                <div class="body">
                                    <div class="property">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Property to set </label>
                                                    <select (change)="onPopertyToSetChange()" name="" id=""
                                                        class="form-control" formControlName="proprtyToSet">
                                                        <option value="">Select property to set</option>
                                                        <option value="lead-status">Lead status</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12"
                                                *ngIf="setPropertyForm.value.proprtyToSet === 'lead-status'">
                                                <div class="form-group">
                                                    <label>Lead status</label>
                                                    <ng-select bindValue="id" formControlName="leadStatus"
                                                        [items]="leadStatusList" bindLabel="name"
                                                        placeholder="Select select">
                                                    </ng-select>
                                                    <div class="invalid-input"
                                                        *ngIf="setPropertyForm.controls.leadStatus.errors && setPropertyForm.controls.leadStatus.touched">
                                                        <div
                                                            *ngIf="setPropertyForm.controls.leadStatus.errors.required">
                                                            Lead Status is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="footer">
                                    <div>
                                        <button (click)="setPropertySave()" [ngStyle]="{'border-color':color,'color':color}">Save</button>
                                        <button
                                            (click)="popUps.setPropertyValue = false; popUps.actionsPopup = true"  [ngStyle]="{'border-color':color,'color':color}">Cancel</button>
                                        <!-- <button (click)="closeAllModels()">Cancel</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="'Settings'" [ngClass]="{ 'active': activeTab == 'Settings' }">
                    <a ngbNavLink>
                        <span>
                            Settings
                        </span>
                    </a>

                    <ng-template ngbNavContent>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="menus">
                                        <ul>
                                            <li>
                                                <a>General Settings</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="content-outer" [formGroup]="gSettingForm">
                                        <h6>
                                            General
                                        </h6>
                                        <p>What times do you want the action to execute</p>
                                        <div class="radio-btns">
                                            <div class="form-check">
                                                <input (change)="onsettingTypeChange()" formControlName="type"
                                                    type="radio" class="form-check-input cursor-pointer" id="text"
                                                    value="anytime" (change)="onChange($event)" [ngStyle]="{'background-color':gSettingForm.value.type == 'anytime'?color:'','border-color':gSettingForm.value.type == 'anytime'?color:''}"/>
                                                <label class="form-check-label cursor-pointer" for="text">Any
                                                    time</label>
                                            </div>
                                            <div class="form-check">
                                                <input formControlName="type" type="radio"
                                                    class="form-check-input cursor-pointer" id="email"
                                                    value="specifictime" (change)="onChange($event)" [ngStyle]="{'background-color':gSettingForm.value.type == 'specifictime'?color:'','border-color':gSettingForm.value.type == 'specifictime'?color:''}" />
                                                <label class="form-check-label cursor-pointer" for="email">Specific
                                                    time</label>
                                            </div>
                                        </div>
                                        <div *ngIf="gSettingForm.controls.type.value === 'specifictime'">
                                            <div class="timers">
                                                <div class="form-group">
                                                    <ng-select (change)="gSettingdayChange()" formControlName="day"
                                                        placeholder="Select select">
                                                        <ng-option value="everyday">Every Day</ng-option>
                                                        <ng-option value="custom">Custom</ng-option>
                                                    </ng-select>
                                                </div>

                                                <div class="form-group mx-1"
                                                    *ngIf="gSettingForm.controls.day.value === 'custom'">
                                                    <ng-select formControlName="customDays" placeholder="Select select"
                                                        [multiple]="true">
                                                        <ng-option value="Monday">Monday</ng-option>
                                                        <ng-option value="Tuesday">Tuesday</ng-option>
                                                        <ng-option value="Wednesday">Wednesday</ng-option>
                                                        <ng-option value="Thursday">Thursday</ng-option>
                                                        <ng-option value="Friday">Friday</ng-option>
                                                        <ng-option value="Saturday">Saturday</ng-option>
                                                        <ng-option value="Sunday">Sunday</ng-option>
                                                    </ng-select>
                                                </div>
                                                <div class="label">
                                                    from
                                                </div>
                                                <div class="">
                                                    <ngb-timepicker formControlName="from"></ngb-timepicker>
                                                    <!-- <input type="text" class="form-control"> -->
                                                </div>
                                                <div class="label">
                                                    to
                                                </div>
                                                <div class="">
                                                    <ngb-timepicker formControlName="to"></ngb-timepicker>
                                                    <!-- <input type="text" class="form-control"> -->
                                                </div>
                                            </div>
                                        </div>

                                        <div class="footer text-end">
                                            <div>
                                                <button class="theme-btn" [ngStyle]="background" (click)="onSettingsSave()">Save</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>

            </ul>
        </div>
    </div>

    <div [ngbNavOutlet]="nav" class="tab-content"></div>

</main>
<ng-template #dripCampaign>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Drip Campaign</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="dripCampaignNameForm">
            <div class="form-group">
                <label for="new">Name*</label>
                <input formControlName="name" type="text" class="form-control" id="new" placeholder="Enter name" />
                <div class="invalid-input" *ngIf="n.name.errors && n.name.touched">
                    <div *ngIf="n.name.errors.required">
                        Name is required
                    </div>
                    <div *ngIf="n.name.errors.pattern">
                        Invalid name
                    </div>
                    <div *ngIf="n.name.errors.minlength">
                        Name must be minimum 3 characters long
                    </div>
                    <div *ngIf="n.name.errors.maxlength">
                        Maximum 100 characters allowed
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <!-- class="theme-btn" -->
        <button type="button" class="theme-btn" [ngStyle]="background" (click)="submitDripCampaignName()">
            Submit
        </button>
    </div>
</ng-template>
<ng-template #personizedVars>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Insert Personalization Token</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Select Personalization Token* </label>
                    <ng-select  (change)="onTokenSelect($event)"
                    name="status" placeholder="Select Token" appearance="outline"
                 labelForId="elead">
                    <ng-option [value]="token.value" *ngFor="let token of personilizedVariables| keyvalue">
                      {{ token.key }}
                    </ng-option>
                    </ng-select>
                    <!-- <select (change)="onTokenSelect($event)" class="form-control" name="" id="">
                        <option value="">--Select token--</option>
                        <option [value]="token.value" *ngFor="let token of personilizedVariables| keyvalue">{{ token.key
                            }}</option>
                    </select> -->
                </div>
            </div>
        </div>
    </div>
</ng-template>